{% extends "base.html" %}
{% load static %}

{% block page_header %}
    
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
        <div class="col-12 col-md-6 col-sm-12">
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.name }}">
            {% else %}
                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ recipe.name }}">
            {% endif %}
            <p>
                {% if user.is_superuser %}
                <small><a href="{% url 'edit_recipe' recipe.id %}">Edit</a></small>
                <small><a class="text-danger" href="{% url 'delete_recipe' recipe.id %}">Delete</a></small>
                {% endif %}
            </p>
        </div>
        <div class="col-12 col-md-6 col-sm-12">
            <h1 class="text-black mb-4 font-weight-bold  text-center">{{recipe.name}}</h1>
            <h4 class="text-black mb-4 font-weight-bold  text-center">Ingredients</h4>
            <hr class="w-50">
            <!-- Iterates throught indredients of the drink -->
            {% for ingredient in recipe_ingredients %}
            <p class="text-center"><strong>{{ ingredient.name }}</strong> {{ ingredient.quantity }} {{ ingredient.unit}}</p>
            {% endfor %}
            <hr class="w-50">

            <!-- displays how instructions on how to make the drink -->
            <h4 class="text-black mb-4 font-weight-bold  text-center">Method:</h4>
            <hr class="w-50">
            <p class="text-black text-center">{{ recipe.method|safe }}</p>

            

        </div>
    </div>
    </div>


{% endblock %}


