html {
    height: 100%;
}

body {
    background: url('/media/homepage-background.jpg') no-repeat center center;
    background-size: cover;
    /* height: calc(100vh + 164); */
    margin-top: 165px;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    
}

/* Text styling */
.hero-text {
    margin-top: 150px;
}

.logo-font {
    text-transform: uppercase;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.main-logo-link {
    width: fit-content;
}

.header-page-text {
    position: relative;
}

/* Buttons */

.add-to-basket-btn:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.btn-black {
    background-color: #000;
    color: white;
}

.btn-black:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.shop-button, 
.add-to-basket-button {
    background-color: #000;
    color: white;
    border: 2px solid yellow;
}

.shop-button:hover, 
.add-to-basket-button:hover {
    background-color: white;
    color: black;
}

.social-links {
    background-color: plum;
    height: 50px;
}

/* link cursors */

.remove-link,
.update-link {
    cursor: pointer;
}

/* Sets background of page to white  */
.overlay {
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    z-index: -1;
}
