{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3">
        <!-- Link to drinks page -->
        <div class="col mb-4">
            <a href="{% url 'products' %}?category=Cocktails">
                <div class="card">
                    <img src="{% static 'img/images-bottled-drinks/expresso-martini.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-black text-center">Cocktails</h5>
                    </div>
                </div>
            </a>
        </div>
        <!-- Link to books page -->
        <div class="col mb-4">
            <a href="{% url 'products' %}?category=Books">
                <div class="card">
                    <img src="{% static 'img/images-books/bartenders-guide.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-black text-center">Books</h5>
                        <!-- <p class="card-text text-black">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                    </div>
                </div>
            </a>
            
        </div>
        <!-- Link to recipes page -->
        <div class="col mb-4">
            <a href="{% url 'all_recipes' %}">
                <div class="card">
                    <img src="{% static 'img/images-drinks/card.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-black text-center">Recipes</h5>
                        <!-- <p class="card-text text-black">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
                    </div>
                </div>
            </a>
            
        </div>
    </div>
</div>
<div class="container-fluid social-links">
    <div class="row w-100 ">
        <div class="col-4 mt-3 text-center"><a class="text-black" href="">Facebook</a></div>
        <div class="col-4 mt-3 text-center"><a class="text-black" href="">Instagram</a></div>
        <div class="col-4 mt-3 text-center"><a class="text-black" href="">Twitter</a></div>
    </div>
</div>

<div class="container-fluid footer">
    <div class="row w-100">
        <div class="col-4 mt-3 text-center">info</div>
        <div class="col-4 mt-3 text-center"><a class="text-black" href="{% url 'contact_us' %}">Contact Us!</a></div>
        <div class="col-4 mt-3 text-center">newsletter</div>

    </div>
</div>



{% endblock %}