{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="text-black text-center">Contact Us User Submitions</h3>
                
                <hr class="text-center w-50">
                <a class="ml-5 btn btn-black mb-2" href="{% url 'contact_list' %}">Back to Contact Us</a>
            </div>
        </div>
        <div class="row">
            <div class="col border rounded ml-5 mr-5">
                <h3><strong>Name:</strong> {{contact_details.name}}</h3>
                <h3><strong>Email:</strong> {{contact_details.email}}</h3>
                <h3><strong>Message:</strong></h3>
                <p> {{contact_details.content}}</p>
            </div>
        </div>
    </div>
    

{% endblock %}