{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact_us/css/contact_us.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="contact-head mt-5 text-center">Contact Us</h3>
                <hr class="w-50">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form class="contact-form" method="POST" action="{% url 'contact_us' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{contact_form|crispy}}
    
                    <button class="btn btn-black mb-3" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    

{% endblock %}